<h1>Welcome to Chitter!</h1>

<div>
<h2>Please sign into your account:</h2>
</div>

<div>
<label>username</label>
<input type="text" name="name" />
</div>

<div>
<label>password</label>
<input type="text" name="genre" />
</div>

<input type="submit" />
<form>

<div>
<h4>Not on Chitter yet? Click here to sign up!</h4>
</div>
<%# <br />
<br />
<a href="/artists">Go back to artists list</a> %>